 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    background-image: image('img/birds-eye.png');
    touch-action: none;
}

canvas {
    display: block;
    background-color: #f0f0f0;
    position: absolute; 
    top: 0; 
    left: 0; 
    z-index: 0;
    width: 100%;
    height: 100%;
}

#toolbar {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 5; 
    pointer-events: auto;
    margin-left: 5px; 
}

.plane-icon {
    width: 40px; 
}